Source/QUICKINFO_V2/quickinfo_v2/Service References/DMSServiceReference/integrationservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TestConnection">
        <s:complexType />
      </s:element>
      <s:element name="TestConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestConnectionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BulkDowngradeDocuments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LibraryID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="refID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="downgradelevel" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BulkDowngradeDocumentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BulkDowngradeDocumentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequestToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientSecret" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequestTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRequestTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserGroupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Indexes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Options" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Indexes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="permission" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchDocumentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserGroupsByUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserGroupsByUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserGroupsByUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LibraryId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ImportProfileId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="DocumentDataXML" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocumentStream" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadDocumentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLibraryData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLibraryDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLibraryDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserGroupsByLibraryID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LibraryId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserGroupsByLibraryIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserGroupsByLibraryIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImportProfileData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LibraryId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImportProfileDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetImportProfileDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentProfileData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LibraryId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentProfileDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentProfileDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexPropertyData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LibraryId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexPropertyDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIndexPropertyDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccessUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccessUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccessUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexReferencesData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LibraryId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="IndexPropertyId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexReferencesDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIndexReferencesDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DocumentId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentLinkResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckAuthentication1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authenticationKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckAuthentication1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckAuthentication1Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TestConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="TestConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="BulkDowngradeDocumentsSoapIn">
    <wsdl:part name="parameters" element="tns:BulkDowngradeDocuments" />
  </wsdl:message>
  <wsdl:message name="BulkDowngradeDocumentsSoapOut">
    <wsdl:part name="parameters" element="tns:BulkDowngradeDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequestTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetRequestToken" />
  </wsdl:message>
  <wsdl:message name="GetRequestTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetRequestTokenResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="SearchSoapIn">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="SearchSoapOut">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="SearchDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:SearchDocument" />
  </wsdl:message>
  <wsdl:message name="SearchDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:SearchDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserGroupsByUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserGroupsByUser" />
  </wsdl:message>
  <wsdl:message name="GetUserGroupsByUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserGroupsByUserResponse" />
  </wsdl:message>
  <wsdl:message name="UploadDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:UploadDocument" />
  </wsdl:message>
  <wsdl:message name="UploadDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:UploadDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="GetLibraryDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetLibraryData" />
  </wsdl:message>
  <wsdl:message name="GetLibraryDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetLibraryDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserGroupsByLibraryIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserGroupsByLibraryID" />
  </wsdl:message>
  <wsdl:message name="GetUserGroupsByLibraryIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserGroupsByLibraryIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetImportProfileDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetImportProfileData" />
  </wsdl:message>
  <wsdl:message name="GetImportProfileDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetImportProfileDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentProfileDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentProfileData" />
  </wsdl:message>
  <wsdl:message name="GetDocumentProfileDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentProfileDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetIndexPropertyDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetIndexPropertyData" />
  </wsdl:message>
  <wsdl:message name="GetIndexPropertyDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetIndexPropertyDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccessUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccessUrl" />
  </wsdl:message>
  <wsdl:message name="GetAccessUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccessUrlResponse" />
  </wsdl:message>
  <wsdl:message name="GetIndexReferencesDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetIndexReferencesData" />
  </wsdl:message>
  <wsdl:message name="GetIndexReferencesDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetIndexReferencesDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentLinkSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentLink" />
  </wsdl:message>
  <wsdl:message name="GetDocumentLinkSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentLinkResponse" />
  </wsdl:message>
  <wsdl:message name="CheckAuthentication1SoapIn">
    <wsdl:part name="parameters" element="tns:CheckAuthentication1" />
  </wsdl:message>
  <wsdl:message name="CheckAuthentication1SoapOut">
    <wsdl:part name="parameters" element="tns:CheckAuthentication1Response" />
  </wsdl:message>
  <wsdl:portType name="IntegrationServiceSoap">
    <wsdl:operation name="TestConnection">
      <wsdl:input message="tns:TestConnectionSoapIn" />
      <wsdl:output message="tns:TestConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BulkDowngradeDocuments">
      <wsdl:input message="tns:BulkDowngradeDocumentsSoapIn" />
      <wsdl:output message="tns:BulkDowngradeDocumentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestToken">
      <wsdl:input message="tns:GetRequestTokenSoapIn" />
      <wsdl:output message="tns:GetRequestTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input message="tns:AddUserSoapIn" />
      <wsdl:output message="tns:AddUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obsolete Methode</wsdl:documentation>
      <wsdl:input message="tns:SearchSoapIn" />
      <wsdl:output message="tns:SearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchDocument">
      <wsdl:input message="tns:SearchDocumentSoapIn" />
      <wsdl:output message="tns:SearchDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserGroupsByUser">
      <wsdl:input message="tns:GetUserGroupsByUserSoapIn" />
      <wsdl:output message="tns:GetUserGroupsByUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadDocument">
      <wsdl:input message="tns:UploadDocumentSoapIn" />
      <wsdl:output message="tns:UploadDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLibraryData">
      <wsdl:input message="tns:GetLibraryDataSoapIn" />
      <wsdl:output message="tns:GetLibraryDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserGroupsByLibraryID">
      <wsdl:input message="tns:GetUserGroupsByLibraryIDSoapIn" />
      <wsdl:output message="tns:GetUserGroupsByLibraryIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImportProfileData">
      <wsdl:input message="tns:GetImportProfileDataSoapIn" />
      <wsdl:output message="tns:GetImportProfileDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentProfileData">
      <wsdl:input message="tns:GetDocumentProfileDataSoapIn" />
      <wsdl:output message="tns:GetDocumentProfileDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexPropertyData">
      <wsdl:input message="tns:GetIndexPropertyDataSoapIn" />
      <wsdl:output message="tns:GetIndexPropertyDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccessUrl">
      <wsdl:input message="tns:GetAccessUrlSoapIn" />
      <wsdl:output message="tns:GetAccessUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexReferencesData">
      <wsdl:input message="tns:GetIndexReferencesDataSoapIn" />
      <wsdl:output message="tns:GetIndexReferencesDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLink">
      <wsdl:input message="tns:GetDocumentLinkSoapIn" />
      <wsdl:output message="tns:GetDocumentLinkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckAuthentication1">
      <wsdl:input message="tns:CheckAuthentication1SoapIn" />
      <wsdl:output message="tns:CheckAuthentication1SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IntegrationServiceSoap" type="tns:IntegrationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkDowngradeDocuments">
      <soap:operation soapAction="http://tempuri.org/BulkDowngradeDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestToken">
      <soap:operation soapAction="http://tempuri.org/GetRequestToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchDocument">
      <soap:operation soapAction="http://tempuri.org/SearchDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGroupsByUser">
      <soap:operation soapAction="http://tempuri.org/GetUserGroupsByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadDocument">
      <soap:operation soapAction="http://tempuri.org/UploadDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLibraryData">
      <soap:operation soapAction="http://tempuri.org/GetLibraryData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGroupsByLibraryID">
      <soap:operation soapAction="http://tempuri.org/GetUserGroupsByLibraryID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImportProfileData">
      <soap:operation soapAction="http://tempuri.org/GetImportProfileData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentProfileData">
      <soap:operation soapAction="http://tempuri.org/GetDocumentProfileData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexPropertyData">
      <soap:operation soapAction="http://tempuri.org/GetIndexPropertyData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccessUrl">
      <soap:operation soapAction="http://tempuri.org/GetAccessUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexReferencesData">
      <soap:operation soapAction="http://tempuri.org/GetIndexReferencesData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLink">
      <soap:operation soapAction="http://tempuri.org/GetDocumentLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAuthentication1">
      <soap:operation soapAction="http://tempuri.org/CheckAuthentication1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IntegrationServiceSoap12" type="tns:IntegrationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap12:operation soapAction="http://tempuri.org/TestConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkDowngradeDocuments">
      <soap12:operation soapAction="http://tempuri.org/BulkDowngradeDocuments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestToken">
      <soap12:operation soapAction="http://tempuri.org/GetRequestToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://tempuri.org/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchDocument">
      <soap12:operation soapAction="http://tempuri.org/SearchDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGroupsByUser">
      <soap12:operation soapAction="http://tempuri.org/GetUserGroupsByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadDocument">
      <soap12:operation soapAction="http://tempuri.org/UploadDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLibraryData">
      <soap12:operation soapAction="http://tempuri.org/GetLibraryData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGroupsByLibraryID">
      <soap12:operation soapAction="http://tempuri.org/GetUserGroupsByLibraryID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImportProfileData">
      <soap12:operation soapAction="http://tempuri.org/GetImportProfileData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentProfileData">
      <soap12:operation soapAction="http://tempuri.org/GetDocumentProfileData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexPropertyData">
      <soap12:operation soapAction="http://tempuri.org/GetIndexPropertyData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccessUrl">
      <soap12:operation soapAction="http://tempuri.org/GetAccessUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexReferencesData">
      <soap12:operation soapAction="http://tempuri.org/GetIndexReferencesData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLink">
      <soap12:operation soapAction="http://tempuri.org/GetDocumentLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAuthentication1">
      <soap12:operation soapAction="http://tempuri.org/CheckAuthentication1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntegrationService">
    <wsdl:port name="IntegrationServiceSoap" binding="tns:IntegrationServiceSoap">
      <soap:address location="http://192.168.10.148:8000/enadocHNBA/integrationservice.asmx" />
    </wsdl:port>
    <wsdl:port name="IntegrationServiceSoap12" binding="tns:IntegrationServiceSoap12">
      <soap12:address location="http://192.168.10.148:8000/enadocHNBA/integrationservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>